{# Main lauout classes. #}
{% set bem_block = 'app' %}

<div class="{{ bem_block }}">
  {% include '@custom_glisseo/include/header.html.twig' %}
  {# /theme/custom/custom_glisseo/templates #}

  <main{{ main_layout_attributes_custom.addClass(bem_block ~ '__content') }}>
    <div class="main-layout__inner">
      {{ page.content }}
      {{ page.sidebar_first }}
    </div>
    {# {{ page.sidebar_second }} #}
  </main>

  {% include '@custom_glisseo/include/footer.html.twig' %}
</div>
